*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 12%, 8%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Overpass;
}

.container, .thank-you{
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 19%, 18%);
    width: 25rem;
    height: 25rem;
    padding: 2rem 2rem;
    border-radius: 2rem;
}

.thank-you{
    text-align: center;
}

div{
    margin-bottom: 1.5rem;
}

.icon{
    border: 1px solid none;
    border-radius: 30rem;
    background-color: hsl(223, 7%, 21%);
    padding: 1rem;
    width: 3rem;
    height: 3rem;
}

h1{
    font-weight: bold;
    font-size: 27px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
}

p{
    line-height: 1.5rem;
    font-size: 15px;
}

.stages{
    display: flex;
    justify-content: space-between;
}

.stages button{
    border: 1px solid none;
    border-radius: 30rem;
    background-color: hsl(223, 7%, 21%);
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;

}

.stages button:hover{
    background-color: hsl(25, 97%, 53%);;
}

.stages button:focus{
    background-color: hsl(217, 12%, 63%);
}

.button{
    display: flex;
    justify-content: center;
}

.button:hover button{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    transition: 0.3s;
}

button{
    font-size: 13px;
    font-weight: 700; 
    letter-spacing: .2rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    border: 1px solid;
    border-style: none;
    border-radius: 30rem;
    padding: .9rem;
    width: 100%;
}

.hidden{
    display: none;
}
